@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  /*background-color: #000000;*/
  background-color:#131313;
 
}

/* Header */
header > div {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color:rgb(38, 38, 38);*/
    background-color:#000000;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

.spotify-logo {
    width: 100px;
    padding: 20px;
  }

  .img-container {
    position: relative;
    text-align: center;
    color: rgb(212, 255, 22);
    font-size: 20px;
   
  }
 
  
#img-back {
  object-fit: cover;
  width: 80%;
  height: 350px;
  padding-top: 25vh;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  align-items: baseline;
	align-content: center;
  padding-left: 10vw;
 
}
#img-back1 {
  object-fit: cover;
  width: 80%;
  height: 350px;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  align-items: baseline;
	align-content: center;
  padding-left: 10vw;
 
}

  .centered-text {
    position:absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding-bottom: 10vw;
    padding-right: 10vw;
    display: flex;
   
    
  }
  
  .centered-title {
    font-size: 5.5em;
    font-weight: 700;
    opacity: 0;
    animation: fadein 2s forwards;
    animation-delay: 1s;
   
  }
  
  .centered-subtitle {
    font-size: 1.9em;
    font-weight: 400;
    opacity: 0;
    animation: fadein 2s forwards;
    animation-delay: 2s;
    color: rgb(38, 38, 38);
    font-weight:bold;
    padding-top:20px;
   
   
  }

.footer {
    padding-top: 20vw;
    display: flex;
    flex-direction: column;
	  flex-wrap: nowrap;
	  justify-content: flex-end;
	  align-items: center;
	  align-content: stretch;
    color: azure;
    font-size: 30px;
    padding-right: 30px;
}

.footer p{
    color:rgb(208, 153, 244);
    font-size: 15px;
}


/**old version**/
.advantages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: auto;
    text-align: center;
    background-color: #131313;
  
  }
  
  /*.advantages h1 {
    padding: 50px;
    width: 26%;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 2.3em;
    text-align: center;
    /*color: rgb(214, 165, 165);*/
    /*color: rgb(255, 116, 116);
    
  }*/

  /*About Me*/
  .img-container, h1{
    margin-top: 50px;
    padding: 0px;
    width: 35%;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 2.5em;
    text-align: center;
    /*color: rgb(214, 165, 165);*/
    color: rgb(255, 116, 116);
    
  }

  /*MUSIC PRODUCER*/
  .advantages h2 {
    color: #d43958;
    font-size: 30px;
    display: flex;
    justify-content:space-around;
    padding-right:0px
  }
  /*Disco*/
  .internal-div-ab >h2{
    padding-left: 30px;
  }
  /*Patci Email*/
  .internal-div-ab  p {
    font-size: 20px;
    flex-direction:row;
    flex-wrap:nowrap;
    color: rgb(243, 77, 77);
    font-weight: 100; 
  }
  
  
 .external-div {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: nowrap;
    align-items: baseline;/* herrabsetzung von disco und sounttrack mit center*/
    width: 80%;
    padding: 80px;

    
  }
  /*Design/Nike*/
 .internal-div p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    color: rgb(245, 85, 85);;
    font-size: 20px;
    padding-right: 25px;
    font-weight:lighter;
    padding-top: 30px;
  
  }
  /*charlotte*/
  .internal-div>p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    /*color:rgb(243, 77, 77);*/
    color:#4afbcf;
    font-size: 20px;
    padding-right: 27px;
    padding-top: 50px;
  
  }
  /*Album-Remixes-Singles*/
  .internal-div-a{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:center;
    align-content: center;
    width: 90%;
    margin-left: 10vw; 
  }
  .internal-div-a{
    padding-right: 80px;
  }
  .internal-div-a h3{
   font-size: 25px;
   padding-bottom: 20px;
   color: #f37474;
   padding-right: 15px;
  }
  /*manymanymore*/
  .internal-div-a p{
    color:#4afbcf;
    
  }

  internal-div-a ,a{
    padding-left: 10px;
  }

  
/*Dj Booking World Wide*/
.internal-div-ab >h3{
  padding-top: 45px;
  padding-left: 30px;
  /*color: #ed6868;*/
  color:#4afbcf;
  font-size: 25px;

}

/*Soundtracks*/
.internal-div >h2{
  padding-right: 30px;
  padding-bottom: 40px;
}
/*Berlin Bouncer*/
.internal-div > a{
  padding-right: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight:600;
  display: flex;
  color: #ed6868;
  font-size: 25px;
  padding-top: 5px;
}
.little p{
color:#56fcd3;
margin:5px;
font-size:17px;
font-weight: lighter;
}
.little{
  margin-bottom: 20px;
  padding-top: 0px;

}
.player{
height: 17px;
width: 140px;
border-style:double;
padding-right: 25px;


}
/*Rate*/
.rate{
  padding-top: 20px;
  padding-right: 40px;
  font-family: t'Roboto', sans-serif;
  font-weight:600;
  display: flex;
  color: #ed6868;
  font-size: 25px;
 
}

/*Links*/
  .advantages .internal-div-a ul,a{
      list-style:none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: rgb(245, 85, 85);
      font-size: 20px;
      padding-right: 30px;
      font-weight: lighter;
     
  }


 h4{
    font-size: 2.5em;
    color:rgb(255, 116, 116);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    color: rgb(255, 116, 116);
    font-weight:bolder ;
    letter-spacing: 1px;
    padding-right: 50px;
  }
  .logos{
    display: flex;
    flex-direction:column;
   padding-right: 30px;
  }

#sound{
   padding-top: 30px;
   width: 90px;
}

#insta{
 padding-top: 30px;
 width: 80px;
}

#spotify{
  padding-top: 30px;
  width: 200px;
}

.email {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:200;
    color:#f7f3f4;
    padding-top: 50px;
    padding-left: 39vw;
   
}

  @keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }}
  